<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <%- include('../public/partials/head.ejs') %>

</head>

<body>

<%- include('../public/partials/header.ejs') %>
<p id="map-instructions">Click on the map to add a marker.</p>
<div id="map-container"><div id="map"></div></div>


  <form class="form-inline form-horizontal" id="xForm" method="post" action="/add" enctype="multipart/form-data">
    <div class="mydiv">
      <div class="div-label"><label class="control-label" for="identification">Identification:</label></div>

      <div class="div-input">

        <select class="form-select" name="identification" id="identification" required>
          <option selected>Unknown</option>
          <% for (let i=0; i < species.length; i++) {%>
            <option value="<%= species[i]%>">
              <%= species[i]%>
            </option>
            <% } %>
        </select>
      </div>
    </div>
    <div class="mydiv">
      <div class="div-label"><label class="control-label" for='description'>Description:</label></div>
      <div class="div-input"><input class="input" type="text" name="description" id="description"
          placeholder="Enter description here" required></div>
    </div>
    <div class="mydiv">
      <div class="div-label"><label class="control-label" for='last_seen'>Last seen:</label></div>
      <div class="div-input"><input class="input" type="datetime-local" name="last_seen" id="last_seen" required></div>
    </div>
    <div id="image-div">
        <div><label id="image-label" class="control-label" for="myImage">Choose an image: </label></div>
        <div id="image-input"><input type="file" id="myImage" name="myImg" onchange="encode()" accept="image/*" ></div>
    </div>
    <input type="hidden" name="username" id="sightings_username">
    <input type="hidden" name="location" id="location">

    <p><input type="submit" name="g" value="Submit" id="g" onclick="onSubmit(event)"></p>
  </form>
</body>
<script type="module" src="/javascripts/add.js"></script>
<script >
  function initialize(){
    window.initMapNav()
    window.initMap()
  }
</script>
<%- include('../public/partials/footer.ejs') %>
</html>