<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <script src ="/public/javascripts/index.js" ></script> -->


</head>

<body>
    <nav class="navbar navbar-default" id = "ournav">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" id="logo" href="#"><%= title %></a>
          </div>
          <ul class="nav navbar-nav" >
            <li id="recent">
              <a  class="nav-link" href="/recent">Recent</a>
            </li>
            <li id ="nearby" class = "nav-item">
              <a  class="nav-link" href="/nearby">Nearby</a></li>
            <li id ="mine"class = "nav-item">
                <a  class="nav-link" id = "mine-link" >Mine</a></li>

          </ul>
          <% let username;%>
          <% if (data.length > 0) {%>
            <% username = data[0].username%>
          <% } %>
          <% if (data.length == 0) {%>
            <% username = 'User'%>
          <% } %>

          <form id = "name-form" action = "/mine" method = "post">
            <input name="username" id="username" hidden = true value = <%=username%> > 
            <input type="submit" value="Submit" hidden = true id = "submit-btn">
          </form>

          <span id = "navtext" class = "navbar-text navbar-right">Hello <%=username%> </span>
        </div>
        
      </nav>


    
    <% if (data.length > 0) {%>

    <% let sort_nearby = data[0].hasOwnProperty("dist_calculated") ;%>
    <table class="table table-hover">
        <thead >
            <tr>
                <% if (sort_nearby) {%>
                <th scope="col">Distance</th>
                <% } %>
              <th scope="col">Date/Time</th>
              <th scope="col">Identication</th>
              <th scope="col">User</th>
              
              <th scope="col">Image</th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
         
            <% for(let i=0; i<data.length; i++) {%>
              

                <tr>
                    <% let datetime = new Date(data[i].last_seen) %>
                    <% let date = datetime.toLocaleDateString('default', { day:"2-digit",month: 'long',year:"numeric" }) %>
                    <% let time = datetime.toLocaleTimeString('default', {hour:"numeric",minute:"numeric"}) %>
                    <% if(sort_nearby) { %>
                      <td><%= (parseFloat(data[i].dist_calculated)/1000).toFixed(0) %> Km away</td>
                      <% } %>
                    <td id = "head"><%=`${date} ${time}`%></td>
                    <td><%=data[i].identification%></td>
                    <td><%= data[i].username %></td>
                   
                    <td><img src="<%= data[i].img %>" width="100" height="100"></td>
                    <td><button type="button">
                            <a style="color:  white;" href = "/sightings/<%=data[i]._id%>">View</a>
                        </button>
                        <button ><i class="fa fa-download"></i> Download</button>
                      </td>
                </tr>
            <% } %>
            
        </tbody>
    </table>
    <% } %>
    <% if (data.length == 0) {%>
      <p> There Are Currently 0 Sightings.</p>
      <br>
      <% } %>
   
      

    <button ><a style="color:  white;" href = "/add">Add A Sighting</a></button>
    





</body>
</html>

<script>
  // document.querySelector('#nearby').addEventListener('click',() => {
  //   document.querySelector('#recent').classList.remove('active');
  //   document.querySelector('#nearby').classList.add('active');
    
  // })

  const mineLink = document.getElementById('mine-link')
  const submitButton = document.getElementById('submit-btn')

  mineLink.addEventListener('click', function() {
    submitButton.click();
  });


  // function colorswitch() {
  //   document.getElementById("recent").innerHTML = element;
  //   element.style.backgroundColor = "pink";
  // }
</script>
