<!DOCTYPE html>
<html>


    <head>
        <title>
            <%= title %>
        </title>

        <%- include('../public/partials/head.ejs') %>

        <script src="/javascripts/index.js" ></script>
    </head>

    <body>



    <%- include('../public/partials/header.ejs') %>
    <p id="demo"></p>
    <% if (data.length==0) {%>
        <p> There Are Currently No Sightings.</p>
    <% } else {%>
        <table class="table table-hover">
            <thead>
            <tr>
                <% let sort_nearby=data[0].hasOwnProperty("dist_calculated") ;%>
                <% if (sort_nearby) {%>
                    <th scope="col">Distance</th>
                <% } %>
                <th scope="col">Date/Time</th>
                <th scope="col">Identification</th>
                <th scope="col">User</th>
                <th scope="col">Image</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% for(let i=0; i<data.length; i++) {%>
                <tr>
                    <% let datetime = new Date(data[i].last_seen) %>
                    <% let date = datetime.toLocaleDateString('default', { day:"2-digit",month: 'long' ,year:"numeric" }) %>
                    <% let time = datetime.toLocaleTimeString('default', {hour:"numeric",minute:"numeric"}) %>
                    <% let image_src = data[i].img !== null ? data[i].img : "/images/no_image.png";%>
                    <% if(sort_nearby) { %>
                        <td>
                            <%= (parseFloat(data[i].dist_calculated)/1000).toFixed(1) %> Km away
                        </td>
                    <% } %>
                    <td id="head">
                        <%=`${date} ${time}`%>
                    </td>
                    <td>
                        <%=data[i].identification%>
                    </td>
                    <td>
                        <%= data[i].username %>
                    </td>
                    <td>
                        <img src="<%= image_src %>" width="100" height="100">
                    </td>
                    <td>
                        <button type="button" id="toSighting" onclick="toSighting('<%=data[i]._id%>')">View</button>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <%}%>
    </body>
    <script >
        function initialize(){
            window.initMapNav()
        }
    </script>
    <%- include('../public/partials/footer.ejs') %>
</html>