<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include('../public/partials/head.ejs') %>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script type="module" src="/javascripts/sighting.js"></script>
</head>
<!--Will get users username from cookie-->
<body onload="init(<%= JSON.stringify(data) %>,'<%=username%>')">
    <%- include('../public/partials/header.ejs') %>

    <!-- create modal  if abstract exists -->

        <!-- Modal -->
        <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="infoModalLabel"><%= data.identification %></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <p><%= data.abstract %></p>
                <img src="<%= data.imgLink %>"><br>
                <% if (data.wikiLink != '') {%>
                    <a href="<%= data.wikiLink %>">See wiki page</a>
                <%}%>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
            </div>
        </div>

        <!-- Update Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateModalLabel">Select new idenfification</h1>

                </div>
                <form method="post" action="<%=`/sightings/${data._id}`%>">

                    <div class="modal-body">

                    <input hidden="true" name="_id" value="<%=data._id%>">
                    <input hidden="true" name="username" value="<%=data.username%>">

                    <select class="form-select" name="new_identification" id="new_identification" required>
                        <option selected><%= data.identification %></option>
                        <% for (let i = 0; i < species.length; i++) {%>
                            <option value="<%= species[i]%>">
                            <%= species[i]%>
                            </option>
                        <% } %>
                    </select>


                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    <input class="btn btn-primary" data-bs-dismiss="modal" type="submit" value="Save">
                    </div>
                </form>

            </div>
            </div>
        </div>
        

    <% let datetime = new Date() %>
    <% let date_today = datetime.toLocaleDateString() %>
    <% let time_now = datetime.toLocaleTimeString('default', {hour:"numeric",minute:"numeric"}) %>
    <% let image_src = data.img !== null ? data.img : "/images/no_image.png";%>
    <% let isAuthor = username === data.username%>


    <div class="container">
        <h1 class="text-center"> <%= data.identification %> </h1>
        <% if(isAuthor) {%>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal" id="update-id-button">
                Change identification
            </button>
        <%}else {%>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" hidden="hidden" data-bs-target="#updateModal" id="update-id-button">
                Change identification
            </button>
        <% }%>
    
        <h2>Created by: <%=data.username%></h2>

        <div class="row">
            <div class="col">
                <h3>Image Captured</h3>
                <div class="grid-item" id = "bird_img"><img src="<%= image_src %>"></div>
            </div>

            <div class="col">
                <h3>Location</h3>
                <% let loc =`${data.location.coordinates[0]},${data.location.coordinates[1]}` %>
                <div data-loc = "<%=loc%>" class="grid-item" id = "location">
                    <div id="map-container"><div id="map"></div></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h3>Description</h3>
    <p><%= data.description %></p>
    <br>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#infoModal">
        See more info
    </button>


</div>

<div id = "section">
    <div id = "chat" >
        <h2>Chatroom</h2>
        <div id="chat_interface" >
            <div>
                <div id="who_you_are"></div> 
                <span>Chat for <%=data.username%>'s sighting: </span>
            </div>
            <br>
            <div id="history" class="boxed">
                <div id = "chat_history">
                    <% for(let i=0; i<chats.length; i++) {%>
                        <% let datetime = new Date(chats[i].created_at) %>
                        <% let date = datetime.toLocaleDateString() %>
                        <% let time = datetime.toLocaleTimeString('default', {hour:"numeric",minute:"numeric"}) %>
                        <% let divClass =  (chats[i].username === username) ? "chatContainer":"chatContainer lighter";%>
                        <% if(chats[i].username === username) {%>
                            <div class="chatContainer lighter">
                                <strong><%=chats[i].username%></strong>
                                <span class="time-left"><%=date%></span>
                                <img src="/images/me_avatar.png" alt="Avatar" class="right" style="width:100%;">
                                <p><%=chats[i].message%></p>
                                <span class="time-left"><%=time%></span>
                            </div>
                        <% } else { %>
                            <div class="chatContainer">
                                <strong><%=chats[i].username%></strong>
                                <span class="time-right"><%=date%></span>
                                <img src="https://ui-avatars.com/api/?rounded=true&background=random&name=<%=chats[i].username%>" alt="Avatar" style="width:100%;">
                                <p><%=chats[i].message%></p>
                                <span class="time-right"><%=time%></span>
                            </div>
                        <% }%>
                    <% }%>
                </div>
            </div>
            <br>
            <div id="input"  class="bottom boxed">
                <form onsubmit="return false;" >
                    <p>
                        <label for="name"> chat: </label>
                        <input type="text" id="chat_input" name="chat_input">
                        <button id="chat_send">Send</button>
                    </p>
                </form>
               
            </div>
            <br>
        </div>

      </div>
    </div>
</div>
</body>
<script src="/javascripts/chat.js"></script>
<script >
    function initialize(){
        window.initMapNav()
        window.initMap()
    }
</script>
<%- include('../public/partials/footer.ejs') %>
</html>